*{
    margin: 0;
    padding: 0;
}
.body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.hero{
    
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, #2a318f, #6b79c9);
    background-position: center;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.img{
    height: 60%;
    width: 60%;
    position: center;
    margin-left: 20%;
    margin-bottom: 20px;
    border-radius: 50%;
    animation-name: girar;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-play-state: paused;
    animation-direction: normal;
    animation-timing-function: linear;
}
@keyframes girar{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
.titulo{
    margin-bottom: 20px;
    color: white;
    margin-left: 20%;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:20px;
}
.a{
    height: 40px;
    width: 40px;
    margin-left: 24%;
    margin-top: 20px;
    padding: 1em, 1em, 1em, 1em;
    background-color: rgb(128, 108, 245);
    
    color: white;
    border-color: rgba(241, 58, 241, 0);
    border-radius: 50%;
    
}
.b{
    height: 40px;
    width: 40px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    padding: 1em, 1em, 1em, 1em;
    background-color: rgb(128, 108, 245);
    color: white;
    border-color: rgba(241, 58, 241, 0);
    border-radius: 50%;
}
.c{
    height: 40px;
    width: 40px;
    
    margin-top: 20px;
    padding: 1em, 1em, 1em, 1em;
    background-color: rgb(128, 108, 245);
    color: white;
    border-color: rgba(241, 58, 241, 0);
    border-radius: 50%;
}
.btn-size1{
    font-size: 1.5em;
}
.btn-size2{
    font-size: 1.5em;
}
.btn-size3{
    font-size: 1.4em;
}
#tiempo{
    width: 100%;
}
.mas{
    height: 40px;
    width: 40px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    padding: 1em, 1em, 1em, 1em;
    background-color: rgb(128, 108, 245);
    color: white;
    border-color: rgba(241, 58, 241, 0);
    border-radius: 50%;
    
}
.mn1{
    font-size: 1.4em;
}
.menos{
    height: 40px;
    width: 40px;

    margin-top: 20px;
    padding: 1em, 1em, 1em, 1em;
    background-color: rgb(128, 108, 245);
    color: white;
    border-color: rgba(241, 58, 241, 0);
    border-radius: 50%;
}
.mn{
    font-size: 1.4em;
}
